/* CSS Document */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Athiti');

body {
  background: url(../img/fundo.jpg);
}

.bg-default {
  background: rgba(255, 193, 7, 0.8);
}

.navbar-brand {
  margin-left: 30px;
}

.social a{
  padding: 0px 5px;
}

.navbar-nav {
  font-family: 'Athiti', sans-serif;
  font-size: 13.5pt;
}

.nav-item {
  padding: 0px 15px;
}

.navbar-expand-md .navbar-nav>li>a {
  font-weight: bold;
  color: #6b3700;
  transition: 0.5s;
}

.navbar-expand-md .navbar-nav>li>a:hover {
  color: #b35d00;
}

#carouselExampleControls {
  margin-top: 87px;
}

h1 {
  font-family: 'Athiti', sans-serif;
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  color: #EE3B3B;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Athiti', sans-serif;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  color: #EE3B3B;
  margin-top: 20px;
  margin-bottom: 30px;
}

article {
  padding: 0px 100px 30px 100px;
}

p {
  font-family: 'Athiti', sans-serif;
  text-align: justify;
  text-indent: 40px;
  line-height: 30px;
  font-size: 13pt;
}

.corpo {
  margin: 130px 0px;
}

.container1 {
  text-align: center;
  margin: -110px auto -70px auto;
}

#foto-pao {
  width: 50%;
}

#fotos {
  text-align: center;
}

#produtos {
  margin-top: 70px;
}

#encomenda {
  margin-bottom: 40px;
}

.page-description {
  padding-right: 30px;
}

.anime {
  opacity: 0;
  transform: translate3d(-300px,0,0);
  transition: 1s;
}

.anime-start {
  opacity: 1;
  transform: translate3d(0,0,0);
}

.contatos {
  margin: 100px 0px 30px 0px;
}

form {
  margin-top: -20px;
}

#visita {
  text-align: center;
  border-left: 1px solid #999999;
}

label {
  font-family: 'Athiti', sans-serif;
  line-height: 30px;
  font-size: 15pt;
}

#endtel {
  margin-top: 20px;
  margin-left: -35px;
  font-family: 'Athiti', sans-serif;
  text-align: center;
  font-size: 13pt;
}

iframe {
  margin-top: 10px;
  height: 350px;
  width: 350px;
  border: none;
}

footer {
	width: 100%;
  margin-bottom: -76px;
	background: #c21e1f;
}

#rodape {
  font-family: 'Athiti', sans-serif;
  color: #fed597;
  text-align: center;
  text-indent: 0px;
  padding: 15px;
}

@media (max-width: 870px) {
  article {
    padding: 0px 60px 30px 60px;
  }
}
